/**
 * V E R T E X
 * by Eduardo Trujillo <ed@chromabits.com>
 */

/** TYPOGRAPHY **/
body {
    font-family: 'Ek Mukta', sans-serif;
}

h1 {
    font-family: 'Ek Mukta', sans-serif;

    font-weight: 800;
}

/** LAYOUT **/
.logo {
    width: 256px;
    height: 256px;

    margin-left: auto;
    margin-right: auto;

    background-image: url('../img/LogoLarge.png');
    background-size: contain;
}

.pad-50-top {
    padding-top: 50px;
}

